
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html, body{
	height: 100%;
}

body{
	font-family: sans-serif;
	color: #FFFFFF;
	background-color: #222222;
}

#mainContainer{
	height: 100%;
	display: flex;
	flex-direction: row;
}

main{
	flex: 1;
	position: relative;
}

#canvasContainer{
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	display: flex;
	flex-direction: column;
	padding: 10px;
}

#heightmapCanvas{
	min-height: 0;
	object-fit: contain;
	object-position: 50% 50%;
	height: 100%;
	width: 100%;
}

#sidebar{
	background-color: #333333;
	display: flex;
	flex-direction: column;
	width: 300px;
	overflow-y: auto;
}

#viridis{
	align-self: center;
}

#sidebar>*{
	margin: 5px;
}

table{
	color: #AAAAAA;
}

#fileInfo, #stlControls{
	border: 1px rgba(0, 0, 0, 0.2) solid;
	background-color: rgba(0, 0, 0, 0.1);
	padding: 5px;
}

#fileInfo{
	display: none;
}

#fileInfoTable{
	width: 100%;
	border-collapse: collapse;
}

#fileInfoTable tr:nth-child(2n){
	background-color: rgba(0, 0, 0, 0.1);
}

#fileInfoTable td{
	padding: 3px;
}

#stlControls{
	display: none;
}

#stlSettings>*{
	display: block;
}

#stlSettings > input{
	width: 100%;
	background-color: rgba(0, 0, 0, 0.1);
	border: 1px rgba(0, 0, 0, 0.5) solid;
	color: #FFF;
	padding: 3px;
	margin-bottom: 6px;
}

#stlSettings > label{
	color: #AAAAAA;
	margin-bottom: 3px;
	font-size: 15px;
}

#downloadLink{
	display: none;
}

#loadingStatus{
	display: none;
	position: absolute;
	width: 400px;
	text-align: left;
	padding: 30px;
	height: 230px;
	left: 50%;
	margin-left: -200px;
	top: 30%;
	background-color: #333333;
	border: 1px #111111 solid;
	opacity: 1;
	transition: opacity;
	transition-duration: 500ms;
	transition-timing-function: ease-in;
}

#loadingStatus.fading{
	opacity: 0;
}

#loadingBarContainer{
	height: 15px;
	background-color: #292929;
	border: 1px #111111 solid;
	width: 100%;
	margin-bottom: 20px;
}

#loadingBar{
	width: 0%;
	height: 100%;
	background-color: #FFAA00;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.4));
	transition: width;
	transition-duration: 250ms;
	transition-timing-function: linear;
}

/*input, button{
	background-color: #333333;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
	border: 1px #222222 solid;
}*/